/* Globale Variablen */
$color-white: #ffffff;
$color-black: #000000;
$color-black-transparent-50: rgba(0, 0, 0, 0.5);
$color-black-transparent-80: rgba(0, 0, 0, 0.8);
$color-highlight: rgba(255, 227, 66, 1);
$font-acme: "Acme", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$text-opacity: 0.8;
$letter-spacing: 2px;
$main-padding: 50px;
$button-padding: 15px 60px;
$margin-bottom: 40px;
$gap: 20px;
$background-color: rgba(35, 36, 52, 1);
.white-text {
  color: $color-white;
  font-family: $font-open-sans;
  opacity: $text-opacity;
  line-height: 25px;
  text-align: center;
  opacity: 0.9;
  font-size: 18px;
}
body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
}
.second-text-wrapper__headline,
.bubble-teas-container__headline,
.phone-number-container__headline,
.why-us__headline {
  font-family: $font-acme;
  color: $color-highlight;
  font-size: 25px;
  text-align: center;
  letter-spacing: $letter-spacing;
}
.phone-number-container-headline {
  transform: rotate(-5deg);
}
/* Erste Container: first-container */
.first-container {
  background-image: linear-gradient(
      to bottom,
      $color-black-transparent-50,
      $color-black-transparent-80
    ),
    url("./images/first-image.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: $margin-bottom;

  nav {
    .nav-wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 10px 40px;
    }

    .nav-image {
      display: flex;
      align-items: center;

      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  .main-view {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $main-padding;
    height: 100vh;

    &__text-wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &__headline {
      font-family: $font-acme;
      color: $color-white;
      font-size: 30px;
      text-align: center;
      letter-spacing: $letter-spacing;
      opacity: 0.9;
      transform: rotate(-5deg);
    }
  }
}

/* Zweites Bild: second-image */
.second-image {
  background-image: url("./images/bubbles.png");
  height: 70vh;
  margin: 0 20px $margin-bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .second-text-wrapper {
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap;
  }

  .button {
    background-color: $color-highlight;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $button-padding;
    border-radius: 30px;
    margin: 40px 0 $margin-bottom;
    font-size: 15px;
    font-family: $font-acme;
    border: none;
  }
}

.bubble-teas-container {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;

  .border {
    border: 3px dotted $color-white;
    width: 250px;
    border-radius: 15px;
    padding: 50px 20px;
  }

  img {
    width: 150px;
    height: 200px;
  }

  .bubble-tea-headline {
    color: $color-highlight;
    font-family: $font-acme;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .bubble-tea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: $gap;

    .img1 {
      width: 170px;
      height: 220px;
      position: relative;
      left: -10px;
    }

    .img2 {
      width: 140px;
    }
    .img3 {
      width: 170px;
      height: 230px;
    }
    .img4 {
      width: 130px;
      height: 180px;
    }
    .img5 {
      width: 140px;
      height: 180px;
    }
  }
}

nav {
  position: relative;
  color: $color-white;
  padding: 40px;

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;

    .bar {
      background-color: $color-white;
      height: 6px;
      width: 60px;
      margin: 3px 0;
      transition: 0.3s;
      border-radius: 20px;
      opacity: 0.8;
    }
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: $color-white;
    position: absolute;
    top: 60px;
    left: 0;

    li {
      margin: 10px 0;
    }

    a {
      color: $color-white;
      text-decoration: none;
    }

    &.active {
      display: flex;
    }
  }
}
.bubbles-container {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .bubbles_headline {
    color: $color-highlight;
    font-family: $font-acme;
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
  }
  // test
  .bubbles {
    display: flex;
    flex-direction: column;
    gap: $gap;
  }
  .bubbles_border {
    border: 3px dotted $color-white;
    width: 250px;
    border-radius: 15px;
    padding: 60px 20px;
  }
}
.phone-number-container {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
  margin: 80px 0px;

  .phone-number {
    display: flex;
    flex-direction: row;
  }
}
.review-container {
  background-image: url("images/bubble-tea-picture.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  height: 700px;
  background-repeat: no-repeat;

  .yellow-container {
    background-color: $color-highlight;
    padding: 40px;
    margin: 40px;
    height: 350px;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .yellow-container_text_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 40px;

      .stars {
        color: $color-black;
        font-size: 25px;
      }

      .yellow-container_text {
        color: $color-black;
        font-family: $font-open-sans;
        text-align: center;
        font-size: 18px;
      }

      .yellow-container_text-two {
        color: $color-black;
        font-family: $font-open-sans;
        line-height: 20px;
      }
    }
  }
}

.why-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 40px;
  height: 80vh;

  .why-us__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
  }
  span {
    color: $color-highlight;
  }
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  height: 100%;
  padding: 40px;

  .footer-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;

    .footer__headline {
      font-family: $font-acme;
      font-size: 25px;
      text-align: center;
      letter-spacing: $letter-spacing;
      margin-top: 40px;
    }

    .footer__adress {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-family: $font-open-sans;
    }
  }

  hr {
    width: 80%;
  }

  .footer-phone-number {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: $font-open-sans;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;

    .footer-links__linklist {
      padding-left: 0;
    }

    .footer-links__link-element {
      list-style-type: none;
    }

    .footer-links_link {
      text-decoration: none;
      color: $color-black;
      font-family: $font-open-sans;
    }
  }

  .footer-logo {
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;

    .footer-logo_img {
      height: 100%;
      width: 100%;
    }
  }
}
@media (max-width: 1000px) and (min-width: 390px) {
  .why-us-container {
    height: 60vh;
  }
}
